entrypoint = "main.py"
modules = ["python-3.12"]

[unitTest]
language = "python3"

[nix]
channel = "stable-23_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"
